@import url('https://db.onlinewebfonts.com/c/49b018de0c85cc185432d29327804fbc?family=Megan+Demo+Font');
@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    color: #004E75;
    background-color: #ffffff;
	font-weight: light;
  }

.navbar{
    background-color: #004E75;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 1rem;
    position: relative;
}

.logo img{
    height: 65px;
    width: 100px;
}

.nav-links a{
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: normal;
    padding: 10px;
}

.nav-links{
    position: absolute;
    right: 500px;
}

.icon{
    height:55px;
    width:55px;
}

.first{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 2rem;
}

.first-content{
    max-width: 50%;
    margin-left:200px;
}

.first-content h1 pre{
    font-size:80px;
    font-family: megan demo font, serif;
	font-weight: normal;
    margin-bottom: 1rem;
    margin:10px;
    line-height:80px;
}


.first-content pre {
    font-size: 1.1rem;
    margin-bottom:30px;
    font-family: 'Poppins';
  }
  
.first-content button {
    background-color:#004E75;
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius:35px;
    font-weight: normal;
    cursor: pointer;
    font-size:18px;
    height:60px;
    margin-top:0px;
    font-family:'Poppins';

    width:300px;
  }
  
.img1 img {
    width:550px;
    padding-right:130px;
    height:450px;
    margin-right:50px;
  }
  
.divider {
    border: 4px solid #004E75;
    margin: 2rem 0;
}

.second{
    display: flex;
    align-items:center;
    justify-content:space-between;
    padding-top:100px;
    margin-right:150px;
    padding-bottom:100px;
}

.img2 img{
    height:400px;
    width:550px;
    padding-left:150px;
}

.second-content h1{
    font-size:50px;
    font-family: megan demo font, serif;
	font-weight: normal;
    margin-top:50px;
    margin:5px;
}

.second-content pre{
    font-family: 'Poppins';
    font-size:20px;
    margin-bottom:30px;
    line-height:23px;
}

.second-content ul li{
    margin-left:25px;
    font-size:20px;
    line-height:23px;
}

.second-content button{
    border-radius:40px;
    color:white;
    cursor:pointer;
    background-color:#004E75;
    height:40px;
    width:140px;
    border:none;
    margin-top:25px;
    margin-left:10px;
    font-size:18px;
    font-family: 'Poppins';
}

.third h1{
    font-size:40px;
    font-family: megan demo font, serif;
	font-weight: normal;
    margin-top: 90px;
    margin-bottom: 90px;
    padding-left:200px;
}

.shapes{
    display:flex;
    align-items: center;
    padding-left:200px;
    gap:120px;
    flex-wrap: wrap;
}

.shapes span{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shapes span img{
    height:40px;
    width: 40px;
}

.shapes span p{
    font-size: 20px;
    margin-left:0px;
    text-align: center;
}

.catalogBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.catalogBtn .btn3{
    color:white;
    background-color: #004E75;
    cursor:pointer;
    border:none;
    font-size:17px;
    border-radius: 35px;
    width: 200px;
    height: 50px;
    font-family: 'Poppins';
    font-weight: bold;
    margin-bottom:0px;
}

.fourth{
    background-color: #004E75;
    height: 385px;
    color: white;
}

.fourth h1{
    font-size:45px;
    font-family: "Megan Demo Font";
    margin-bottom: 70px;
    text-align: center;
    margin-top: 70px;
    padding-top:70px;
}

.fourth .process{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 280px;
}

.process span{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    justify-content: center;
}

.process span img{
    height:25px;
    width:23px;
    position: relative;
}

.process span pre{
    font-size:10px;
    margin-left:0px;
    text-align: center;
    font-family: 'Poppins';
    margin-top:0px;
    font-style: italic;
}

.process span div{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    margin-bottom: 0px;
}

span .seperator{
    height:1.5px;
    color: white;
    background-color: white;
    width:80px;
    margin-bottom:50px;
    text-align: center;
    margin-left:20px;
    margin-right:0px;
}

.green{
    rotate:-90deg;
}

.blue{
    rotate: -90deg;
}

.process span p{
    position: absolute;
    margin-left:14px;
}

.styles{
    height:25px;
    width: 100%;
    margin-top:90px;
}

.fifth{
    display: flex;
    align-items: end;
    flex-direction: row;
    justify-content: space-between;
    margin-top:80px;
    background-color: #ffffff;
    
}

.img3 img{
    height:380px;
    width:400px;
    margin-left: 250px;
}

.fifth-content h1 pre{
    font-size: 70px;
    font-family: 'Megan Demo Font';
    color: #56AF42;
    line-height:60px;
    text-align: end;
    margin-right: 180px;
}

.fifth-content pre{
    font-family: 'Poppins';
    line-height:18px;
    text-align: end;
    margin-right:180px;
}

.fifth-content .end p{
    width:20px;
    color: #56AF42;
    width: 20px;
    text-decoration: line-through;
    margin-bottom:0px;
}

.fifth-content .end{
    display:flex;
    flex-direction: row;
    align-items: end;
    margin-left: 155px;
    color: #56AF42;
    margin-top: 30px;
}

.social{
    margin-top: 100px;
    background-color: #004E75;
    height: 350px;
    display: flex;
    align-items: center;
    gap:40px;
    color: white;
}

.social .email{
    display: flex;
    flex-direction: column;
}

.email img{
    margin-top: 70px;
    height:40px;
    width:150px;
    margin-left: 150px;
}

.social p{
    margin-left: 150px;
    font-size: 20px;
    font-weight: bold;
}

.social span{
    margin-left: 150px;
    font-size: 15px;
    margin-top: 20px;
    font-style: italic;
}

.social hr{
    width:280px;
    margin-left: 150px;
}

.contact{
    margin-left:300px;
}

.contact h5{
    font-size:20px;
    margin-left:300px;
    margin-bottom:20px;
}

.contact pre{
    font-size:18px;
    font-family:'Poppins';
}

.contact .social-icons .cs{
    color:white;
    font-size:20px;
    text-decoration:none;
}

.contact .social-icons{
    margin-left:0px;
    margin-top:0px;
    display:flex;
    gap:12px;
}
